<h1 class="mt-5 mb-3">Your Feed</h1>

<% if @posts.any? %>
  <% @posts.each_slice(3) do |slice| %>
    <div class="row mb-3">
      <% slice.each do |post| %>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-img-top">
              <%= image_tag post.image.variant(resize_to_fill: [250, 250]), style: "width: 100%" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="card">
    <div class="card-body p-5">
      <h5>No posts! Try following someone new!</h5>
    </div>
  </div>
<% end %>