<!DOCTYPE html>
<html>

  <%= render 'shared/head' %>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'devise/shared/flash/app' %>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
